.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: #6070ff;
}

.links {
    display: flex;
    flex-direction: column;
    list-style: none;
    
}


.mob-menu {
    display: none;
  }

  .show {
    display: flex;
    background-color: #6070ff;
    width: 100%;
    margin-top: 0;
    justify-content: space-between;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    color: white;
    list-style: none;
    padding: 2rem;
  }

.close-Tag{
    width: 20px;
    height: 20px;
}

.links {
    margin-left: 12px;
    font-size: 32px;
    font-weight: bold;
    list-style: none;
    padding-left: 30px;
    line-height: 80px;
}

a {
    color: #fff;
}